fetch-timeout=600000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=600000
registry=https://registry.npmjs.org/
@jsr:registry=https://npm.jsr.io/
node-linker=hoisted
legacy-peer-deps=true
prefer-offline=true